html {
	width: 100vw;
	height: 100vh;
}

body {
	margin: 0;
	padding: 0;
	background-color: green;
	overflow: hidden;
}

p {
	margin: 0;
	padding: 0;
}

canvas.main {
	width: 100vw;
	height: 100vh;
	background-color: lime;
}
